

body{
    margin: 0;
    font-size: 16px;
    background-color: #009688;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    outline: none;
}
.custom-box{
    max-width: 700px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;

}
.custom-box ::before,
.custom-box ::after{
    content: "";
    clear: both;
    display: table;

}
.custom-box .hide{
    display: none;
}
.home-box{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}
.home-box p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
}
.home-box p span{
    font-weight: 500; 
}
.btn{
    padding: 15px 40px;
    background-color: #009688;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;

}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn{
    width: 100%;
    float:left;

}
.quiz-box .answer-indicator{

}
.quiz-box .question-number{
    font-size: 18px;
    color: #009688;
    font-weight: 600;
    border-buttom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px;

}
.quiz-box .question-text{
    font-size: 22px;
    color: #000000;
    line-height: 28px;
    font-weight: 400;
    padding: 22px 0;
    margin:0;

}
.quiz-box .option-container .option{
    background-color: #cccccc;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
}
.quiz-box .btn{
    margin: 15px 0;
}
.quiz-box .answer-indicator{
    border-top: 1px solid #cccccc;
}
.quiz-box .answer-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}
.result-box{
    text-align: center;

}
.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: #009688;


}
.result-box table{
    width: 100%;
    border: c;
}
.result-box.hide{
    display: none;
    
}
.result-box table td{
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    width: 50%;
    text-align: left;
    font-size: 18px;

}

.result-box btn{

}