*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width:100%;
    height: 100vh;
    background-image: url("./pictures/test.gif");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;


}
h1 {
    text-align: center;
    text-shadow: 2px 2px #190606;
    font-size: 2em;
    margin-top: 0.67em;
    margin-left:50%;
    margin-right: 50%;
    font-weight: bold;
    color: rgb(248, 248, 250);
    font-size: 50px;
    background-color: rgb(130, 27, 142);
    display:block;
    font-family: "sans-serif";
    padding: 2px 0px;
    border-radius: 0px;
    box-shadow: 0px 10px 10px black;
  
  }
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border:2px  #000729;
  }
.red img{
    width: 95px;
    float: left;
    padding-left:2%;
    padding-top: 1%;
    filter: invert(0);
}
.yellow{margin-left: 89%;
height: 100px;}
.logo{
    width: 100px;
    cursor: pointer;
}
button {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.button3{
    width: 25%;
    height: 20%;
    padding: 0px 25px;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%);
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left:8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1{
    font-size: 70px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#baaceb,rgb(203 165 169 / 25%));
    position: absolute;
    right: 0;
    top: 0;
}
.menu{
    display: block;
    width: 35px;
    margin: 40px auto 0;
    cursor: pointer;
}
.Account{
    text-align: center;
    position: absolute;
    margin-left: -35%;
}
.social-links img, .useful-links img{
    width: 30px;
    margin: 40px auto 0;
    cursor: pointer;
    display: block;
}
.social-links{
    width: 150px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    margin-left: 50%;
}
.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.cartoon img{
    width:50px;
    animation: cartoon 7s linear infinite;
}
.cartoon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}
@keyframes cartoon{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    0%{
        opacity: 1;
    }
    0%{
        opacity: 1;
    }
    0%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.cartoon img:nth-child(1){
    animation-delay: 5s;
    width: 20px;
}
.cartoon img:nth-child(2){
    animation-delay: 2.3s;
    width: 29px;
}
.cartoon img:nth-child(3){
    animation-delay: 3s;
    width: 26px;
}
.cartoon img:nth-child(4){
    animation-delay: 4s;
    width: 34px;
}
.cartoon img:nth-child(5){
    animation-delay: 1.2s;
    width: 37px;
}
.cartoon img:nth-child(6){
    animation-delay: 4.3s;
    width: 40px;
}
.cartoon img:nth-child(7){
    animation-delay: 3.1s;
    width: 34px;
}
.cartoon img:nth-child(8){
    animation-delay: 2,9s;
    width: 24px;
}
.cartoon img:nth-child(9){
    animation-delay: 5s;
    width: 34px;
}
.cartoon img:nth-child(10){
    animation-delay: 2s;
    width: 24px;
}
.cartoon img:nth-child(11){
    animation-delay: 1.3s;
    width: 34px;
}
.cartoon img:nth-child(12){
    animation-delay: 3.5s;
    width: 24px;
}
.cartoon img:nth-child(13){
    animation-delay: 1.5s;
    width: 34px;
}
.cartoon img:nth-child(14){
    animation-delay: 4.4s;
    width: 24px;
}
.cartoon img:nth-child(15){
    animation-delay: 1s;
    width: 34px;
}
.cartoon img:nth-child(16){
    animation-delay: 3s;
    width: 24px;
}
.cartoon img:nth-child(17){
    animation-delay: 3.7s;
    width: 34px;
}
.cartoon img:nth-child(18){
    animation-delay: 4.5s;
    width: 24px;
}



.container {
    margin-top: 100px
}

       .form-group {
           position: relative;
           margin-bottom: 1.5rem;
       }

       .form-control-placeholder {
           position: absolute;
           top: 0;
           padding: 7px 0 0 13px;
           transition: all 200ms;
           opacity: 0.5;
           color: grey
       }

       .form-control:focus+.form-control-placeholder,
       .form-control:valid+.form-control-placeholder {
           font-size: 75%;
           transform: translate3d(0, -100%, 0);
           opacity: 1;
       }

       .form-control {
           background: transparent;
           border: none;
           border-bottom: 1px solid grey;
       }

       input.form-control:focus,
       input.form-control:after {
           outline-width: 0;
           border-bottom: 1px solid aqua;
           background: transparent;
       }

       .modal-content {
           color: white;
           background-image: radial-gradient(circle 919px at 1.7% 6.1%, rgb(12, 12, 12) 0%, rgba(14, 14, 14, 0.85) 100.2%);
       }

       .modal-title {
           color: aqua;
       }

       .modal {
           background-image: radial-gradient(circle 919px at 1.7% 6.1%, rgba(41, 58, 76, 1) 0%, rgba(40, 171, 226, 1) 100.2%);
       }

       .tc {
           font-size: 12px;
       }

       .modal-footer {
           justify-content: flex-start;
       }

       .signup {
           background: rgb(20, 155, 224);
           background: linear-gradient(90deg, rgba(20, 155, 224, 1) 0%, rgba(0, 49, 78, 1) 100%);
           border-radius: 34rem;
           border: none;
           color: white;
           font-size: 14px;
           font-weight: bold;
           height: 46px;
       }

       .close {
           color: aqua;
           font-size: 12px;
           position: relative;
           top: 20px;
       }

       h5 {
           font-size: 2rem;
           font-weight: 900;
       }

       .title {
           font-size: 2.25rem;
           font-weight: 700;
       }

       .x {
           color: grey;
           font-size: 40px;
           font-weight: 100;
           display: flex;
           flex-direction: row-reverse;
           top: 0;
       }

       .btn.focus,
       .btn:focus {
           outline: 0;
           box-shadow: none !important;
       }  

       .x.focus,
       .x:focus {
           outline: 0;
           box-shadow: none !important;
       }
       #b1{
        border: none;

       }

       #logo{
        max-height: 10px;
        width: 50px;
        text-align: center;
        position: absolute;
        bottom: 30px;
       }